
.Container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 960px;
  border: 5px solid lightgreen;
}

/*  if it looks like ass fix it :) cause i dont know how to run it right now :) */
div.title{ color: black;
 font-size:  10px;}

