body{background-image: url(black-thread.png); /* this background is questionable */
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  /* div.container{ border-right:  groove lightgreen;
  border-left:  groove lightgreen;
  border-top: groove lightgreen;
  border-bottom: groove lightgreen;
  border-style: solid;
    border-width: 5px 20px; */

  div.title{ color: black;
   font-size:  10px;}
  
  


.auth-form-container {
  background-color:whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border: 30px solid #232222;
  border-radius: 40px;  /* was at 4 before */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-bottom: tan groove;
  border-top: tan groove;
  border-right:  tan groove;
  border-left: tan groove;
   margin-top: 75px; /*  added this cause when i took "WELCOME TO THE TRASHAPP " out it went straight to the top */
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.register-form label {
  margin-bottom: 5px;
}

.register-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px #4caf50;
}

button {
  padding: 10px 20px;
  background-color: #3e8e41;
  background-color: #3e8e41;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* button:hover {
  background-color: #3e8e41
  #4caf50;
} */

.form-btn {
  padding: 10px 20px;
  background-color: #3e8e41;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
  width: auto;
  white-space: nowrap;

}

.link-btn {
  padding: 10px 20px;
  color: blue;
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
  cursor: pointer;
  
}

.error-message {
  font-size: 12px;
  color: red;
}

 /* Settings css  */
.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.EditInformation-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;

}
.EditInformation-form label{
  margin-bottom: 5px;

}
.logoutbtn{
  position: relative;
  bottom: 1070px;
  left: 1400px;
  background-color: #31df6b; /* Background color */
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* Border */
  border-radius: 5px; /* Border radius */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Cursor style */
}
/*event page container*/
.event-container{
   background-color: white; /* turned the background to white  for more readability (is that a word i have no idea) */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 375px;
  padding: 20px;
  border: 1px solid #636161;
  border-radius: 4px;
}
.ContainerS{
 margin-top: 200px;
 margin-bottom:200px;
}
.PostUI-form label{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.PostUI label{
  margin-bottom: 5px;

}

.PostUI input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

