.map-container {
    position: relative;
  }
  
  .icon-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px; /* Adjust width as needed */
  }