.map-container {
    position: relative;
    top: 10px;
    left: 300px;
    width: 1250px;
    height: 900px;
    border: 10px solid #d2b48c;
    border-radius: 10px;
    object-fit: cover;
}

.bottom-icons{
    position: relative;
    top: 20px;
    left: 110px;
    margin-right: 215px;
    
}
.logoutbtn{
    position: relative;
    bottom: 1070px;
    left: 1400px;
    background-color: #31df6b; /* Background color */
    color: #000000; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* Border */
    border-radius: 5px; /* Border radius */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    cursor: pointer; /* Cursor style */
}